<h1 class="invoice-form__header">Invoice</h1>

<form [formGroup]="invoiceForm" (ngSubmit)="onSubmitForm()" class="invoice-form">
  <mat-form-field appearance="standard">
    <mat-label>Choose a date [TODO VALIDATION]</mat-label>
    <input [matDatepicker]="datePicker" matInput>
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <input type="text" formControlName="description" matInput>
    <mat-error>Description is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>&nbsp;Price</mat-label>
    <input type="number" formControlName="price" matInput>
    <span matPrefix>&euro;</span>
    <mat-error>Price should be equal to or greater than 0</mat-error>
  </mat-form-field>
  <input type="file" formControlName="invoice" (change)="onInvoiceUpload($event)">
  <button color="primary" mat-raised-button type="submit" class="invoice-form__submit">Save to drive</button>
</form>
